name: Run JUnit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    
    - name: Run Tests in Headless Module
      run: ./gradlew :headless:test
    
    - name: Upload Problems Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: problems-report
        path: headless/build/reports/problems/
    
    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-report
        path: headless/build/reports/tests/test/

    - name: Generate Coverage Report
      run: ./gradlew :headless:jacocoTestReport

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-coverage-report
        path: headless/build/reports/jacoco/test/html
